@media (max-width: 900px) {
    .hero {
        height: auto;
        padding: 11rem 0;
    }
}
.hero {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    position: relative;
    width: 100%;
}
* {
    scrollbar-color: #8e8e8e #fff;
    scrollbar-width: thin;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
user agent stylesheet
section {
    display: block;
    unicode-bidi: isolate;
}
body {
    background-color: #fff;
    font-family: Poppins, sans-serif;
    position: relative;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.container {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}
* {
    scrollbar-color: #8e8e8e #fff;
    scrollbar-width: thin;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}


@media (max-width: 900px) {
    .content {
        flex-direction: column;
        gap: 3rem;
        height: auto;
        text-align: center;
    }
}
.content {
    align-items: center;
    display: flex;
    gap: 10rem;
    height: 65rem;
    justify-content: center;
    position: relative;
}
* {
    scrollbar-color: #8e8e8e #fff;
    scrollbar-width: thin;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    background-color: #fff;
    font-family: Poppins, sans-serif;
    position: relative;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}


.hero-main {
    align-items: center;
    display: flex;
    gap: 10rem;
    justify-content: center;
    position: relative;
}
* {
    scrollbar-color: #8e8e8e #fff;
    scrollbar-width: thin;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    background-color: #fff;
    font-family: Poppins, sans-serif;
    position: relative;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}




.hero-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 50rem;
    position:relative;
}

* {
    scrollbar-color: #8e8e8e #fff;
    scrollbar-width: thin;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    display: block;
    unicode-bidi: isolate;
}
body {
    background-color: #fff;
    font-family: Poppins, sans-serif;
    position: relative;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}





.hero-text h1 {
    color: #2d2e32;
    font-size: 5.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

* {
    scrollbar-color: #8e8e8e #fff;
    scrollbar-width: thin;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
user agent stylesheet
:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
body {
    background-color: #fff;
    font-family: Poppins, sans-serif;
    position: relative;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}



.hero-text p {
    color: #555;
    font-family: Mulish, sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6;
}
* {
    scrollbar-color: #8e8e8e #fff;
    scrollbar-width: thin;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;

}
body {
    background-color: #fff;
    font-family: Poppins, sans-serif;
    position: relative;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}



.hero-text span a {
    transition: all .2s;
}
.hero-text span a {
    font-size: 3rem;
    cursor:pointer;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(31, 32, 32);
    margin-left: 1rem;
}


.hero-text span {
    cursor: pointer;
    display: flex;
    gap: 1.3rem;
    margin: 2.5rem 0;
}
body {
    background-color: #fff;
    font-family: Poppins, sans-serif;
    position: relative;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}




* {
    scrollbar-color: #8e8e8e #fff;
    scrollbar-width: thin;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.hero-img {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url(file:///C:/Users/SAI/Pictures/New%20folder/Sai.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 35rem;
    position:relative;
    transition: all 1s ease-in-out;
    width: 35rem;
}
* {
    scrollbar-color: #8e8e8e #fff;
    scrollbar-width: thin;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    background-color: #fff;
    font-family: Poppins, sans-serif;
    position: relative;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


.skills{
        align-items: center;
        margin-top: 60%;
        color: #767676;
        display: flex;
        font-size: 1.7rem;
        left: 0;
        position: absolute;
    
}
.skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    list-style: none;
    margin-left: 4rem;
    
}

.skills p{
    border-right: 2px solid rgba(45, 46, 50, .5);
    color: #2d2e32;
    font-family: Mulish, sans-serif;
    font-weight: 600;
    margin-right: 2rem;
    padding-right: 2rem;
}
