*body{
    padding: 10px;
    margin: 10px;  
}
*{
    scrollbar-color: #8e8e8e #fff;
    scrollbar-width: thin;
}

.navbar{
    cursor: pointer;
    color: #2d2e32;
}
li{
    display: list-item;
    text-align:center;
    unicode-bidi: isolate;
}
nav ul{
    display:flex;
    gap: 2rem;
    list-style: none;
}
 nav ul a {
    color: #2d2e32;
    text-decoration: none;
    font-family:Poppins,sans-serif;
}
nav ul a:hover{
    cursor: pointer;
    color:rgb(67, 147, 222);
}
nav{
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0, 0,0.9);
    display: flex;
    font-size: 1.7rem;
    height: 12%;
    justify-content: space-between;
    left: 0;
    padding: 25px 40px 25px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
    font-family:Poppins,sans-serif;
}



